<template name="tournament">
  <div class="panel {{#if navigating}}hidden-phone{{/if}}">
    <div class="panel-heading">
      {{content_panel_name 'icon-trophy' 'Tournament Info'}}
    </div>
    {{#with tournament}}
    <div class="row">
      <div class="col col-lg-6">
        <table cellpadding="5">
          <tr>
            <th>Name</th>
            <td>{{name}}</td>
          </tr>
          <tr>
            <th>Slug</th>
            <td>{{slug}}</td>
          </tr>
          <tr>
            <th>Location</th>
            <td>
              <a href="//maps.google.com/maps?q={{encodeURIComponent location}}" target="_blank">
                {{location}}
              </a>
            </td>
          </tr>
        </table>
      </div>
      {{! Google Maps Image - only display on desktops to save phone space}}
      <div class="col col-lg-6 text-right hidden-phone">
        <a href="//maps.google.com/maps?q={{encodeURIComponent location}}" target="_blank">
          <img src="//maps.googleapis.com/maps/api/staticmap?zoom=11&size=150x150&markers={{encodeURIComponent location}}&sensor=false">
        </a>
      </div>
    </div>
    {{/with}}
  </div>

  {{> updates_list}}
</template>

<template name="updates_list">
  <div class="panel primary-bg {{#if navigating}}hidden-phone{{/if}}">
    <div class="panel-heading">
      {{content_panel_name 'icon-comments' 'Latest Updates'}}
    </div>

    {{! The form for adding a post }}
    <form id="update_add_form" action="#">
      <div class="input-group">
        <input name="update" type="text" class="input-small" placeholder="Post New Update">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-small">
            <i class="icon-share-alt"></i>
          </button>
        </span>
      </div>
    </form>

    <div class="list-group list-group-flush">
      {{#each updates}}
        <div class="list-group-item">
          <div class="pull-right text-right">
            <i>{{calendar created}}</i>
            <br>
            <div class="btn-group" style="display: none">
              <button class="btn">h</button>
              <button class="btn">i</button>
            </div>
          </div>
          <h3 style="margin: 10px 0px">{{text}}</h3>
        </div>
      {{/each}}
    </div>

  </div>
</template>
