// This file contains mostly imports - most code is in .lessimport files
@import url(http://fonts.googleapis.com/css?family=Play:400,700);

@import "../../packages/bootstrapless/less/bootstrap.lessimport";

body {
  font-family: Play, Helvetica, Arial, sans-serif;
}

// Variable overrides
@navbar-bg: @brand-success;
@navbar-color: #fff;
@navbar-link-color: #fff;
@navbar-link-hover-color: @gray-lighter;
@navbar-link-active-color: #fff;
@navbar-link-disabled-color: darken(@navbar-bg, 10%);

@grid-gutter-width: 10px;

.page-container {
  padding-left: 5px;
  padding-right: 5px;
}

// General Styles
@import "modal.lessimport";
@import "navbar.lessimport";
@import "controlbar.lessimport";

// Page specific styles
@import "pairings.lessimport";
@import "results.lessimport";
@import "aggResults.lessimport";
@import "overview.lessimport";

