// This file contains mostly imports - most code is in .lessimport files

@import "../../packages/bootstrapless/less/bootstrap.lessimport";

// Variable overrides
@navbar-bg: rgb(0,177,106);
@navbar-color: #fff;
@navbar-link-color: #fff;
@navbar-link-hover-color: @gray-lighter;
@navbar-link-active-color: #fff;
@navbar-link-disabled-color: darken(@navbar-bg, 10%);

@import "modal.lessimport";
@import "navbar.lessimport";
@import "pairings.lessimport";
