/* VARIABLES */
primary-color = #428bca

/* Sidebar Navigation Padding for in Tournaments */
.sidebar-nav
  padding 9px 0

.navbar
  margin-bottom 10px

/*
 * USED FOR BACKGROUND OF LIST HEADERS
 */
.primary-bg
  background-color primary-color

/*
 * Teams page
 */
#team_add_form
  .input-group
    margin-bottom 10px
