/* Sidebar Navigation Padding for in Tournaments */
.sidebar-nav {
  padding: 9px 0;
}

.navbar {
  margin-bottom: 10px;
}

.add_row td input {
  width: 100%;
}

[class*="span"] { background-color: rgba(255, 0, 0, 0.3) }
