<template name="pairings_header">
  <div class="row">
    <div class="col col-sm-3 col-xs-6">
      {{#isolate}}
        <select id="round-select" class="form-control input-sm">
          {{#times round_count}}
            <option value="{{$index1}}" 
                {{#if equal round $index1}}selected{{/if}}>
              Round {{$index1}}
            </option>
          {{/times}}
        </select>
      {{/isolate}}
    </div>
    <div class="col col-sm-9 col-xs-6">
      <input id="search-box" class="form-control input-sm" type="text" value="{{query}}" placeholder="Search Pairings">
    </div>
  </div>
</template>
