<template name="team_edit_form">
  <div class="row" style="margin-top: 0px;">
    <div class="control-group col col-sm-3" style="padding: 0px;">
      <label class="control-label" for="school">School</label>
      <div class="controls">
        <input class="form-left-text" name="school" type="text" placeholder="School" value="{{school}}">
      </div>
    </div>
    <div class="control-group col col-sm-9" style="padding: 0px;">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input class="form-right-text" name="name" type="text" placeholder="Name" value="{{name}}">
      </div>
    </div>
  </div>
  {{#times tournament 'team_size'}}
    <div class="row" style="margin-top: 10px;">
      <div class="control-group col col-sm-9" style="padding: 0px;">
        <label class="control-label" for="speaker-{{$index0}}">Speaker {{$index1}} Name</label>
        <div class="controls">
          <input class="form-left-text" name="speaker-{{$index0}}" type="text" placeholder="Speaker Name" value="{{speakerName ../speakers $index0}}">
        </div>
      </div>
      <div class="control-group col col-sm-3" style="padding: 0px;">
        <label class="control-label" for="flags-{{$index0}}">Flags</label>
        <div class="controls">
          <input class="form-right-text" name="flags-{{$index0}}" type="text" placeholder="Flags" value="{{speakerFlags ../speakers $index0}}">
        </div>
      </div>
    </div>
  {{/times}}
</template>
