<template name="csv_controls">
  {{! Controls for Uploading & Downloading CSVs}}
  {{! Place in header of panel}}
  <div class="pull-right">
    <div class="btn-group">
      <button id="download-csv" class="btn btn-mini btn-info">
        <i class="icon-download-alt"></i> 
        <span><span class="hidden-phone">Download</span></span>
      </button>
      <button id="upload-csv" class="btn btn-mini btn-warning">
        <i class="icon-upload-alt"></i> 
        <span><span class="hidden-phone">Upload</span></span>
      </button>
    </div>

  </div>
</template>

<template name="search_box">
  <form id="search_form" action="#" style="">
    <div class="input-group pull-right col col-lg-8 col-sm-8">
      <input name="query" type="text" class="input-small" placeholder="Search">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-small"><i class="icon-search"></i></button>
      </span>
    </div>
  </form>
</template>
