<template name="navbar">
  <div class="navbar navbar-static-top">
    <div class="container">
      {{! Toggle Switch - only visisble on mobile }}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{! Navigation Items }}
      <a class="navbar-brand" href="/">DebateTab</a>
      
      <div class="nav-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav">
          <li class="{{top_nav_class 'tournaments'}}"><a href="{{tournament_listUrl}}">Tournaments</a></li>
          <li class="{{top_nav_class 'about_us'}}"><a href="{{aboutusUrl}}">About Us</a></li>
        </ul>

        {{! XXX: replace login button system with one which works better }}
        {{loginButtons align="right"}}
      </div>

      
    </div>
  </div>
</template>
