<template name="content_panel_name">
  <span>
    <button class="nav-back visible-phone">
      <i class="icon-angle-left"></i>
      <i class="{{icon}}"></i>
      {{name}}
    </button>
    <span class="hidden-phone">
      <i class="{{icon}}"></i>
      {{name}}
    </span>
  </span>
</template>

<template name="page_public_status">
  {{! Private/Public Controls}}
  {{#if tournament_admin}}
    {{#if page_public}}
      <button id="page_public_status_btn" class="btn btn-mini btn-success">
        <i class="icon-eye-open"></i> 
        <span><span class="hidden-phone">Public</span></span>
      </button>
    {{else}}
      <button id="page_public_status_btn" class="btn btn-mini btn-danger">
        <i class="icon-eye-close"></i> 
        <span><span class="hidden-phone">Private</span></span>
      </button>
    {{/if}}
  {{/if}}
</template>
