<template name="team_form">
  {{! School & Team Name }}
  <div class="row">
    <div class="input-group col col-lg-4">
      <span class="input-group-addon"><i class="icon-home"></i></span>
      <input type="text" name="school" placeholder="School" value="{{school}}">
    </div>
    <div class="input-group col col-lg-8">
      <span class="input-group-addon"><i class="icon-group"></i></span>
      <input type="text" name="name" placeholder="Team Name" value="{{name}}">
    </div>
  </div>

  {{! Debater Names & Flags }}
  {{#times tournament.team_size}}
    <div class="row">
      <div class="input-group col col-lg-8">
        <span class="input-group-addon"><i class="icon-user"></i></span>
        <input type="text" name="speakername_{{index0}}" placeholder="Speaker {{index1}} Name" value="{{item_prop ../speakers index0 'name'}}">
      </div>
      <div class="input-group col col-lg-4">
        <span class="input-group-addon"><i class="icon-flag"></i></span>
        <input type="text" name="speakerflags_{{index0}}" placeholder="Flags" value="{{item_prop ../speakers index0 'flags'}}">
      </div>
    </div>
  {{/times}}
</template>

<template name="team_add_form">
  {{! Add form box - display to users when add team pressed }}
  <div class="panel">
    <div class="panel-heading">
      Add New Team
      <button id="close_team_add_form" class="close" aria-hidden="true" style="margin-top: -2px;">&times;</button>
    </div>

    <form id="team_add_form" action="#">
      {{> team_form}}

      {{! Submit button }}
      <div class="row">
        <div class="col col-lg-6 col-offset-6">
          <input type="submit" class="btn btn-primary btn-block" value="Add Team">
        </div>
      </div>
    </form>
  </div>
</template>

<template name="team_edit_form">
  <div class="list-group-heading">
    Editing Team

    <button id="close_team_edit_form" type="button" class="close" style="margin-top: -2px">&times;</button>
  </div>
  <form id="team_edit_form" action="#">
    {{> team_form}}

    {{! Submit Button}}
    <div class="btn-group row" style="width: 100%; margin: auto">
      <button id="cancel_team_edit_form" type="button" class="btn btn-warning col col-lg-6 col-sm-6">Cancel</button>
      <button type="submit" class="btn btn-primary col col-lg-6 col-sm-6">Save</button>
    </div>

  </form>
</template>
