<template name="team_list">
  <table class="table">
    <thead>
      <tr>
        <th>School</th>
        <th>Name</th>
        {{#times tournament.team_size}}
        <th>Debater {{index1}}</th>
        <th>Flags</th>
        {{/times}}
      </tr>
    </thead>
    {{#each teams}}
    <tr>
      <td>{{school}}</td>
      <td>{{name}}</td>
      {{#each speakers}}
      <td>{{name}}</td>
      <td>{{#if novice}}n{{/if}}</td>
      {{/each}}
    </tr>
    {{/each}}
  </table>

  <div class="modal" style="position: relative; top: auto; left: auto; right: auto; margin: 0 auto 20px; z-index: 1; max-width: 100%;">
    <div class="modal-header">
      <h3>Add New Team</h3>
    </div>
    <div class="modal-body">
      <div class="row-fluid">
        <input type="text" value="school" class="span3">
        <input type="text" value="name" class="span9">
      </div>
      <div class="row-fluid">
        <div class="span3">Debaters</div>
        <div class="span6">
          <input type="text" value="debater_name" style="width: 100%; box-sizing: border-box">
        </div>
        <div class="span3">
          <input type="text" value="flags" style="width: 100%">
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Reset Form</a>
      <a href="#" class="btn btn-primary">Add Team</a>
    </div>
  </div>
</template>

<template name="team_list_phone">
  {{#each teams}}
  <div class="well" style="padding: 6px;">
    <p><strong>[{{school}}] {{name}}</strong></p>
    <table style="width: 100%;">
      {{#each speakers}}
      <tr>
        <td>{{name}}</td>
        <td style="text-align: right;">{{#if novice}}n{{/if}}</td>
      </tr>
      {{/each}}
    </table>
  </div>
  {{/each}}
</template>
