<template name="tournamentLayout">
  <div class="row">
    <div class="col col-lg-3">
      <!-- sidebar -->
      <div class="panel panel-list">
        <div class="panel-heading">
          <i class="icon-trophy"></i>
          {{tournament.name}}
        </div>


        <div class="link-group list-group-flush">
          <a class="list-group-item {{side_nav_class 'overview'}}" href="{{tournamentUrl tournament.slug}}">Overview</a></li>
          {{#if pagePerms 'team_list'}}
          <a class="list-group-item {{side_nav_class 'team_list'}}" href="{{team_listUrl tournament.slug}}">Teams</a></li>
          {{/if}}
        </div>

      </div>
    </div>

    <div class="col col-lg-9">
      {{deviceRender}}
    </div>
  </div>
</template>
