<template name="layout">
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      {{! Responsive menu show button}}
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-response-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{! Logo}}
      {{> logo}}

      <div class="navbar-collapse collapse navbar-response-collapse">
        {{yield 'navbar'}}
        
        {{! Account Navigation}}
        <ul class="nav navbar-nav account-nav">
          {{loginButtons}}
        </ul>
      </div>
    </div>
  </div>

  {{! Main Contents}}
  <div class="container">
    {{yield}}
  </div>

  {{! Static Footer}}
  {{> footer}}
</template>
