<template name="footer">
  <hr />
  <div class="container">
    <div style="margin: 0px 5px 20px;">
      {{! Footer Navigation}}
      <div class="pull-right">
        <small>
          <a href="#">Contact</a> | 
          <a href="#">About</a> | 
          <a href="mailto: bugs@debatetab.net">Report a Bug</a>
        </small>
      </div>

      {{! Copyright notices}}
      <small>DebateTab.net &copy; 2013 <a href="https://github.com/Mystor/">Michael Layzell</a>, 
      "Play" font by <a href="https://profiles.google.com/108751492223758737525/about">Jonas Hecksher</a></small>

    </div>
  </div>
</template>
