<template name="tournamentLayout">
  <div class="navbar navbar-static-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-response-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{> logo}}
      
      <div class="nav-collapse collapse navbar-response-collapse">
        {{#isolate}}
          <ul class="nav navbar-nav">
            <li class="{{overviewClass}}">
              <a href="{{overviewUrl t_slug}}">Overview</a>
            </li>
            <li class="{{pairingsClass}}">
              <a href="{{pairingsUrl t_slug round}}">Pairings</a>
            </li>
            <li class="{{resultsClass}}">
              <a href="{{team_resultsUrl t_slug}}">Results</a>
            </li>
            {{#if isAdmin}}
              <li class="{{setupClass}}">
                <a href="{{team_listUrl t_slug}}">Set Up</a>
              </li>
            {{/if}}
          </ul>
        {{/isolate}}

        {{! Account Navigation}}
        {{> accountNav}}
      </div>
    </div>
  </div>
  <div class="container page-container">
    {{#isolate}}
      {{#if tournamentLoaded}}
        {{renderPage}}
      {{else}}
        <div class="text-center">
          <i class="icon-spinner icon-spin icon-4x"></i><br>
          <h3>Loading Tournament Information...</h3>
        </div>
      {{/if}}
    {{/isolate}}
  </div>

  {{> footer}}
</template>
