<template name="tournamentLayout">
  <div class="navbar navbar-static-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-response-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="/">DebateTab<small>.net</small></a>
      
      <div class="nav-collapse collapse navbar-response-collapse">
        {{#isolate}}
          <ul class="nav navbar-nav">
            <li class="{{overviewClass}}">
              <a href="{{overviewUrl t_slug}}">Overview</a>
            </li>
            <li class="{{pairingsClass}}">
              <a href="{{pairingsUrl t_slug round}}">Pairings</a>
            </li>
            <li class="{{resultsClass}}">
              <a href="{{team_resultsUrl t_slug}}">Results</a>
            </li>
            {{#if isAdmin}}
              <li class="{{setupClass}}">
                <a href="#swapping">Set Up</a>
              </li>
            {{/if}}
          </ul>
        {{/isolate}}

        {{! Account Navigation}}
        {{> accountNav}}
      </div>
    </div>
  </div>
  <div class="container">
    {{#isolate}}
      {{#if tournamentLoaded}}
        {{renderPage}}
      {{else}}
        <div class="text-center">
          <i class="icon-spinner icon-spin icon-4x"></i><br>
          <h3>Loading Tournament Information...</h3>

        </div>
      {{/if}}
    {{/isolate}}
  </div>
  <hr />
  <div class="container">
    <div style="margin: 0px 5px 20px;">
      <small>&copy; 2013 <a href="https://github.com/Mystor/">Michael Layzell</a></small>
      <div class="pull-right">
        <small>
          <a href="#">Contact</a> | 
          <a href="#">About</a> | 
          <a href="#">Report a Bug</a>
        </small>
      </div>
    </div>
  </div>
</template>
